.logo{
    width: 100%;
}
.logo h1{
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}
.navbar-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.navbar-list li{
    margin-right: 20px;
    line-height: 25px;
}
.navbar-list a{
    text-decoration: none;
    color: #ffff;
    font-size: 16px;

}
.navbar-list li{
    background-repeat: no-repeat;
    background-size: 0% 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    background-position-x: right;
    transition: background 500ms;
    padding: 0 20px;
    position: relative;
}
.navbar-list li a:after{
    background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar-list li a:hover:after { 
    width: 100%; 
    left: 0; 
  }
.menu-bar{
   padding: 10px 0;
}

.left{
    width: 100%;
    display: flex;
}